# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.vim

CMakeCache.txt
CMakeFiles
Makefile
*.cmake
install_manifest.txt
doc/html
build/
lib/
/examples/libsocket-dispatch.dll
/examples/Socket-client.exe
/examples/Socket-server.exe
/examples/libsocket.dll
